:{$PORT:80} {
    root * /app/dist
    file_server

    header Permissions-Policy "camera=*"
    header Feature-Policy "camera *"

    # SPA fallback — send all non-file requests to index.html
    try_files {path} /index.html

    encode gzip
}
